form{
    display: flex;
    flex-direction: column;
}
div.formulario{
    max-width: 33rem;
    width: 100%;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
span.carbonmsg{
    background-color: #222;
    color: #EEE;
    padding: 1em;
}