h1{
color: #09f;
}
h3{
    color: #FFF;
}
div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4d4d4d;
    margin-top: 3rem;
    padding: 2rem;
    gap: 1rem;
    
}